<!--<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Cook Smart</h1>

    </div>
</div>-->

<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Cook Smart</h1>
        <div>
            <form>
                <p>Choisissez vos ingrédients :</p>
                <select>
                    <option value="" disabled>Ingrédient n°1</option>
                    <!--<option *ngFor="#ingredient of ingredients">{{ingredient.name}}</option>-->
                </select>
            </form>
        </div>
    </div>
</div>
