<!--<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Cook Smart</h1>

    </div>
</div>-->

<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Cook Smart</h1>
        <div>
            <div *ngFor="let ingredient of ingredients">{{ingredient.name}}
                <input type="checkbox" (click)="console.debug('click')" (change)="console.debug('change')" />
            </div>
        </div>
    </div>
</div>
